CREATE TABLE Stock (
	Stock_id INTEGER PRIMARY KEY,
	Codigo INTEGER NOT NULL,
	Stock INTERGER NOT NULL,
	Precio REAL NOT NULL,
	Descripcion TEXT NOT NULL
);

CREATE TABLE Ventas(
	Ventas_id INTEGER PRIMARY KEY,
	Codigo INTEGER NOT NULL,
	Producto INTEGER NOT NULL,
	Precio REAL NOT NULL,
	Fecha TEXT NOT NULL
);
